// Favor respeitar os nomes que vêm daqui: http://uigradients.com/

.ch-gradient-shore {
  background: linear-gradient(140deg, #70e1f5 0%, #ffd194 100%) #ffffff;
}

.ch-gradient-dracula {
  background: linear-gradient(140deg, #bf5035 0%, #3d72b4 100%) #ffffff;
}

.ch-gradient-blurry-beach {
  background: linear-gradient(140deg, #f0ec3e 0%, #de7ed6 100%) #ffffff;
}

.ch-gradient-back-to-earth {
  background: linear-gradient(140deg, #00D7D2 0%, #00CF72 100%) #ffffff;
}
