.chathub-header {
  color: #ffffff;
}

.header.chathub-header {
  background: transparent;
}

.chathub-header i.icon-home {
  color: #ffffff;
  font-size: 15px;
  margin-top: 3px;
}

.chathub-header .header-tab {
  color: #ffffff;
  text-transform: uppercase;
}

.chathub-header .header-tab:hover {
  border-bottom: 1px solid #ffffff;
}

.logo-wrapper {
  display: block;
  text-align: center;
  margin-top: 50px;
}

.chathub-logo {
  font-size: 7em;
  padding: 0 15px;
  font-family: "Allura", cursive, "Helvetica Neue", "Helvetica", sans-serif;
}

.chathub-call-to-action {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  display: block;
  margin: 30px 0;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 1px;
}

.intro-message {
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 1px;
  margin-top: 100px;
}

.intro-message::after {
  left: 0;
  right: 0;
  margin: -20px auto;
  content: '';
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 2px;
  background-color: $danger;
}

.cards-wrapper {
  margin-top: 100px;
}

.card-body-wrapper {
  text-transform: uppercase;
  font-family: "League Gothic", "Helvetica Neue", "Helvetica", sans-serif;
  color: $text;
  font-size: 1.8em;
}

.card-number {
  font-size: 2em;
}

.ch-header-icon {
  color: white;
  font-size: 6em;
  display: block;
  margin-top: 20px;
}

.macbook-wrapper {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}

.get-started-bottom {
  margin-top: 100px;
  text-align: center;
}

.landing-footer {
  background-color: $grey-darker;
  color: $grey-lighter;
  @media screen and (min-width: $desktop) {
    line-height: 40px;
  }
}

.landing-footer li {
  display: inline-block;
  text-transform: uppercase;
}

.landing-footer li a {
  color: $grey-lighter;
}

.app-name-bottom {
  text-align: center;
}

.app-name {
  border: 1px solid $grey-lighter;
  text-transform: uppercase;
  border-radius: 50px;
}

.footer-links {
  @media screen and (max-width: $tablet) {
    text-align: center;
  }
  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}

.footer-links li:hover {
  @media screen and (min-width: $desktop) {
    border-bottom: 1px solid $grey-lighter;
  }
}

.app-name-bottom {
  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.social-links {
  @media screen and (max-width: $tablet) {
    text-align: center;
  }
  @media screen and (min-width: $desktop) {
    text-align: right;
  }
}

.social-links i {
  font-size: 40px;
}
